.main {
  flex: 1;
  min-height: 100vh;
  padding-bottom: 15vh;
  position: relative;
}

.main .nav {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.main .nav p {
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}

.main .nav img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: auto;
}

.main .greet {
  margin: 40px 0px;
  font-weight: 900;
}

.main .greet span {
  font-size: 86px;
  color: #000;
}

.search-box {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 800px;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 10px;
}

.search-box img {
  width: 24px;
  margin: 5px;
  cursor: pointer;
}

.search-box input {
  flex: 2;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 18px;
}

.search-box .icon {
  display: flex;
  gap: 10px;
}

.search-box .icon img {
  &:hover {
    background-color: #c4c7c5;
    border-radius: 50%;
  }
}

.main-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  padding: 0px 20px;
  margin: auto;
}

.bottom-info {
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.result {
  padding: 0px 5%;
  max-height: 70vh;
  overflow-y: scroll;
}

.result::-webkit-scrollbar {
  display: ruby-base;
}

.result-title {
  margin: 40px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.result img {
  width: 40px;
  border-radius: 50%;
}

.result-data {
  display: flex;
  align-items: start;
  gap: 20px;
}

.loader {
  width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loader hr {
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 3s infinite linear;
}

@keyframes loader {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: 800px 0px;
  }
}

.result-data p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;
}
