.main {
  flex: 1;
  min-height: 100vh;
  padding-bottom: 15vh;
  position: relative;
}

.main .nav {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.main .nav p {
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}

.main .nav .icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 100;
  padding: 10px 0;
  width: 150px;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px 16px;
  cursor: pointer;
  transition: background 0.5s ease;
}

.dropdown-menu li:hover {
  background-color: #f2f2f2;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: auto;
}

.main .greet {
  margin: 40px 0px;
  font-weight: 900;
}

.main .greet span {
  font-size: 86px;
  color: #000;
}

.search-box {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 700px;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 20px;
  margin-bottom: 10px;
}

.search-box img {
  width: 24px;
  margin: 5px;
  cursor: pointer;
}

.search-box input {
  flex: 2;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 18px;
}

.search-box .icon {
  display: flex;
  gap: 10px;
}

.search-box .icon img {
  &:hover {
    background-color: #c4c7c5;
    border-radius: 30%;
  }
}

.main-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  padding: 0px 20px;
  margin: auto;
}

.bottom-info {
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #656565;
}

.result {
  padding: 0px 5%;
  max-height: auto;
  overflow-y: inherit;
}

.result-title {
  margin: 40px 0px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.result img {
  width: 40px;
  border-radius: 50%;
}

.result-data {
  display: flex;
  align-items: start;
  gap: 20px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  aspect-ratio: 1;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  background: #fff;
  filter: blur(5px) contrast(10);
  mix-blend-mode: darken;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  background: linear-gradient(#000 0 0) left, linear-gradient(#000 0 0) right;
  background-size: 20px 40px;
  background-origin: content-box;
  background-repeat: no-repeat;
}
.loader:after {
  height: 20px;
  width: 20px;
  margin: auto 0;
  border-radius: 50%;
  background: #000;
  animation: l10 1s infinite;
}
@keyframes l10 {
  90%,
  100% {
    transform: translate(300%);
  }
}

@keyframes loader {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: 800px 0px;
  }
}

.result-data p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;
}
